In [11]:
import pandas as pd

In [12]:
df_clientes = pd.read_csv("../data/clientes.csv", sep=",")

In [13]:
df_clientes.shape  # mostra o número de linhas e quantas colunas

(2436, 9)

In [14]:
df_clientes.columns  # mostra o nome das colunas

Index(['idCliente', 'flEmail', 'flTwitch', 'flYouTube', 'flBlueSky',
       'flInstagram', 'qtdePontos', 'dtCriacao', 'dtAtualizacao'],
      dtype='object')

In [15]:
df_clientes.index  # mostra o range de indexação

RangeIndex(start=0, stop=2436, step=1)

In [16]:
# df_clientes.head(10) mostra as 10 primeiras linhas do DataFrame
df_clientes.head(10)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
5,0097ab76-4637-4ece-8ebc-ab6abd61d662,0,0,0,0,0,50,NaN,NaN
6,00a6d4c8-38e5-4e92-981e-4e4ac5084546,1,0,0,0,0,6637,0000-00-00 00:00:00.000,2025-02-27 12:28:58.378
7,00c26486-33e8-4af9-8e0f-4ee220252ca9,0,0,0,0,0,0,NaN,NaN
8,00f9cc87-c956-4b27-92e2-c96c5774083e,0,0,0,0,0,52,NaN,NaN
9,0122142b-464c-414a-9aad-e901f492a1a3,0,1,0,0,0,119,2025-01-10 12:01:26.743,2025-02-10 11:09:05.041

In [17]:
df_clientes.tail(10)  # mostra as 10 últimas linhas do DataFrame

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
2426,fe391f8e-c2eb-4bd9-b8a5-e284151deb6a,0,1,0,0,0,100,2025-02-11 11:01:12.243,2025-02-19 11:06:57.941
2427,fe58b66c-64db-44fd-b8cb-8966aeac3bd3,0,0,0,0,0,1152,NaN,NaN
2428,fe59fd95-d131-4d50-bb6e-10cdfa7d5f47,0,0,0,0,0,378,NaN,NaN
2429,feb1a34d-202a-4224-a1b3-0e737b12dd4d,0,1,0,0,0,2316,0000-00-00 00:00:00.000,2024-12-11 12:41:29.958
2430,fec72337-de7d-4f97-adba-38de8583974a,0,0,0,0,0,1,NaN,NaN
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [18]:
df_clientes.info(memory_usage='deep')  # mostra informações sobre o DataFrame e o uso de memória

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      2436 non-null   object
 1   flEmail        2436 non-null   int64
 2   flTwitch       2436 non-null   int64
 3   flYouTube      2436 non-null   int64
 4   flBlueSky      2436 non-null   int64
 5   flInstagram    2436 non-null   int64
 6   qtdePontos     2436 non-null   int64
 7   dtCriacao      834 non-null    object
 8   dtAtualizacao  834 non-null    object
dtypes: int64(6), object(3)
memory usage: 566.0 KB

In [19]:
df_clientes.dtypes # mostra os tipos de dados de cada coluna

idCliente        object
flEmail           int64
flTwitch          int64
flYouTube         int64
flBlueSky         int64
flInstagram       int64
qtdePontos        int64
dtCriacao        object
dtAtualizacao    object
dtype: object

In [20]:
df_clientes.describe()  # mostra estatísticas descritivas do DataFrame

,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos
count,2436.000000,2436.000000,2436.0,2436.0,2436.0,2436.000000
mean,0.037356,0.336617,0.0,0.0,0.0,469.574302
std,0.189672,0.472650,0.0,0.0,0.0,1284.945871
min,0.000000,0.000000,0.0,0.0,0.0,0.000000
25%,0.000000,0.000000,0.0,0.0,0.0,50.000000
50%,0.000000,0.000000,0.0,0.0,0.0,104.000000
75%,0.000000,1.000000,0.0,0.0,0.0,372.250000
max,1.000000,1.000000,0.0,0.0,0.0,30799.000000

In [21]:
df_clientes.sample(10)  # mostra 10 amostras aleatórias do DataFrame

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
800,507ef142-14ce-42a6-a19e-3183189a0313,0,1,0,0,0,50,2025-01-27 13:13:03.547,2025-01-27 13:13:15.113
2003,cece9442-3b0d-4331-9a34-3b003d504eef,0,1,0,0,0,650,0000-00-00 00:00:00.000,2025-02-11 11:44:11.677
481,2d6ab96a-7e21-4af4-abc7-4468f6341f2e,0,0,0,0,0,1,NaN,NaN
2396,fa8f6f91-d462-4dda-add8-2963094ff883,0,1,0,0,0,50,2025-02-10 11:22:52.464,2025-02-10 11:23:06.538
1638,a9a79a2d-4fff-4e8b-8ba6-4b45943439ed,0,0,0,0,0,1301,NaN,NaN
192,10fc145c-4642-41a6-9773-61505cdb8c50,0,1,0,0,0,552,2025-01-06 12:20:15.359,2025-02-04 12:28:05.886
850,57692c20-4590-4803-820e-62be0df024fb,0,1,0,0,0,216,2025-02-10 11:08:14.203,2025-02-19 10:56:13.651
409,269bbee8-2878-4a8a-9d2e-76702165aaa9,0,0,0,0,0,54,NaN,NaN
1917,c682d836-2e31-4d73-bfbb-8cc32be63265,0,0,0,0,0,250,NaN,NaN
2211,e60bd944-99b9-4c72-915a-fe6b564b92d9,0,0,0,0,0,115,NaN,NaN